Repository ROCm/hip-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saadrahim, @LisaDelaney, @domcharrier

.github/CODEOWNERS:

# Documentation files
docs/* @saadrahim @LisaDelaney
*.md  @saadrahim @LisaDelaney
*.rst  @saadrahim @LisaDelaney
# Code
*.py @domcharrier
*.pyx @domcharrier
*.pxd @domcharrier
*.sh @domcharrier
*.cfg @domcharrier
*.toml @domcharrier
Jenkinsfile @domcharrier

ci: + build-and-publish jenkins file
  ci/build-and-publish.jf
Owners: none

fix(ci): checkout release repo + base branch
  ci/build-and-publish.jf
Owners: none

fix(ci): add missing steps block
  ci/build-and-publish.jf
Owners: none

fix(ci): install git
  ci/build-and-publish.jf
Owners: none

fix(ci): fetch origin
  ci/build-and-publish.jf
Owners: none

ci: rm build-and-publish.jf
  tools/interfacegen/recipes/python_cython/hip/ci/build-and-publish.jf
Owners: none

fix(ci): fetch origin
  tools/interfacegen/recipes/python_cython/hip/ci/codegen.jf
Owners: none

fix(ci/build*.jf: install rocm script name
  ci/build-and-publish.jf
Owners: none

ci: + patch older rocm versions
  ci/0-install-rocm.sh
Owners: @domcharrier

fix(ci/4*): fix mv instruction
  ci/4-prepare-upload-binary.sh
Owners: @domcharrier

whitespace error
  ci/0-install-rocm.sh
Owners: @domcharrier

ci: fix error return stmt
  ci/5-upload-binary.sh
Owners: @domcharrier

fix(examples): disable hiprtc tests for rocm 5.5
  examples/test_examples.py
Owners: @domcharrier

examples/test_examples.py: rename var
  examples/test_examples.py
Owners: @domcharrier

ci(ci/envs): install make into conda env
  ci/3a-build-and-test-for-single-cpython-version.sh
  ci/envs/py310.yml
  ci/envs/py311.yml
  ci/envs/py38.yml
  ci/envs/py39.yml
Owners: @domcharrier

update copyright year
  LICENSE
  README.md
  hip-python-as-cuda/LICENSE
  hip-python-as-cuda/README.md
  hip-python-as-cuda/pyproject.toml
  hip-python-as-cuda/setup.cfg
  hip-python-as-cuda/setup.py
  hip-python/LICENSE
  hip-python/README.md
  hip-python/hip/_hip_helpers.pxd
  hip-python/requirements.txt
  hip-python/setup.cfg
  hip-python/setup.py
Owners: @saadrahim, @LisaDelaney, @domcharrier

fix(ci/5-upload*): activate conda env
  ci/5-upload-binary.sh
Owners: @domcharrier

fix(ci/0-*): escape [, ] in sed expr
  ci/0-install-rocm.sh
Owners: @domcharrier

fix(ci/5-upload*): source conda bash profile
  ci/5-upload-binary.sh
Owners: @domcharrier

fix(**/llvmc*): create subpackage folders
  tools/interfacegen/recipes/python_cython/llvmc/codegen_llvmc.py
  tools/interfacegen/recipes/python_cython/llvmc/generate_llvmc_pkg.sh
Owners: @domcharrier

ci(**/llvmc): add ci scripts
  tools/interfacegen/recipes/python_cython/llvmc/ci/0-checkout-release-repo.sh
  tools/interfacegen/recipes/python_cython/llvmc/ci/1-install-rocm.sh
  tools/interfacegen/recipes/python_cython/llvmc/ci/2-generate-code.sh
  tools/interfacegen/recipes/python_cython/llvmc/ci/codegen.jf
Owners: @domcharrier

fix(**/generate_hip*): input checks
  tools/interfacegen/recipes/python_cython/hip/generate_hip_python_pkgs.sh
Owners: @domcharrier

ci(**/hip): exit correctly on error
  tools/interfacegen/recipes/python_cython/hip/ci/0-checkout-release-repo.sh
  tools/interfacegen/recipes/python_cython/hip/ci/2-generate-code.sh
Owners: @domcharrier

ci(**/hip/codegen.jif): add missing choice '5.6.0'
  tools/interfacegen/recipes/python_cython/hip/ci/codegen.jf
Owners: none

ci(ci/build*.jf): add missing choice '5.6.0'
  ci/build-and-publish.jf
Owners: none

fix(**/llvmc): output paths
  tools/interfacegen/recipes/python_cython/llvmc/codegen_llvmc.py
  tools/interfacegen/recipes/python_cython/llvmc/generate_llvmc_pkg.sh
Owners: @domcharrier

ci(**/llvmc): fix paths
  tools/interfacegen/recipes/python_cython/llvmc/ci/0-checkout-release-repo.sh
  tools/interfacegen/recipes/python_cython/llvmc/ci/codegen.jf
Owners: @domcharrier

fix(**/llvmc/codegen.jf): fix dir
  tools/interfacegen/recipes/python_cython/llvmc/ci/codegen.jf
Owners: none

fix(**/llvmc/codegen*): fix placeholders
  tools/interfacegen/recipes/python_cython/llvmc/codegen_llvmc.py
Owners: @domcharrier

ci(**/llvmc/codegen*): specify VERSION as for hip-python
  tools/interfacegen/recipes/python_cython/llvmc/codegen_llvmc.py
Owners: @domcharrier

fix(build*.sh): rm shared objects before build
  build_hip_python_pkgs.sh
Owners: @domcharrier

docs(user_guide/0*.md): update supported HW link
  docs/user_guide/0_install.md
Owners: @saadrahim, @LisaDelaney

docs: remove outdated developer guide
  docs/.sphinx/_toc.yml.in
  docs/.sphinx/_toc.yml.in.in
  docs/developer_guide/0_overview.md
  docs/developer_guide/1_code_generation.md
  docs/developer_guide/2_packaging.md
  docs/developer_guide/3_building_docs.md
  docs/developer_guide/4_commit_guide.md
Owners: @saadrahim, @LisaDelaney

docs(user_guide/1*): clarify hiprtcCreateProgram
  docs/user_guide/1_usage.md
Owners: @saadrahim, @LisaDelaney

examples(0_Basic_Usage/hiprtc*): destroy program
  examples/0_Basic_Usage/hiprtc_launch_kernel_args.py
  examples/0_Basic_Usage/hiprtc_launch_kernel_no_args.py
Owners: @domcharrier

ci(build-and-publish*): add MAIN_BRANCH env var
  ci/build-and-publish.jf
Owners: none

init.sh: make branch configurable
  init.sh
Owners: @domcharrier

examples(0*/hiprtc*no_args*): - unused import
  examples/0_Basic_Usage/hiprtc_launch_kernel_no_args.py
Owners: @domcharrier

interfacegen/cython.py: add todo
  tools/interfacegen/interfacegen/cython.py
Owners: @domcharrier

fix(examples/**/hiprtc): use createRef to pass **
  examples/0_Basic_Usage/hiprtc_launch_kernel_args.py
  examples/0_Basic_Usage/hiprtc_launch_kernel_no_args.py
Owners: @domcharrier
