Repository ROCm/hip-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saadrahim, @LisaDelaney, @domcharrier

.github/CODEOWNERS:

# Documentation files
docs/* @saadrahim @LisaDelaney
*.md  @saadrahim @LisaDelaney
*.rst  @saadrahim @LisaDelaney
# Code
*.py @domcharrier
*.pyx @domcharrier
*.pxd @domcharrier
*.sh @domcharrier
*.cfg @domcharrier
*.toml @domcharrier
Jenkinsfile @domcharrier

examples(2_Advanced): + device linking example
  examples/2_Advanced/hiprtc_linking_device_functions.py
Owners: @domcharrier

feat(i*gen/includetree.py): + incl. tree generator
  tools/interfacegen/interfacegen/includetree.py
Owners: @domcharrier

examples(2_*): + hiprtc_linking_llvm_ir.py
  examples/2_Advanced/hiprtc_linking_llvm_ir.py
Owners: @domcharrier

examples(2_Adv*/*llvm_ir): minor changes
  examples/2_Advanced/hiprtc_linking_llvm_ir.py
Owners: @domcharrier

examples(hiprtc_linking_llvm_ir.py): set block dim to 'size'
  examples/2_Advanced/hiprtc_linking_llvm_ir.py
Owners: @domcharrier

Update README.md
  README.md
Owners: @saadrahim, @LisaDelaney

Update README.md
  README.md
Owners: @saadrahim, @LisaDelaney

ci(rebase-all.sh): + script to forward codegen/base updates
  ci/rebase-all.sh
Owners: @domcharrier

examples(2*/hiprtc_jit_with_llvm_ir*): +
  examples/2_Advanced/hiprtc_jit_with_llvm_ir.py
Owners: @domcharrier

refactor: + support package for cython projects
  tools/interfacegen/interfacegen/__init__.py
  tools/interfacegen/interfacegen/includetree.py
  tools/interfacegen/interfacegen/support/__init__.py
  tools/interfacegen/interfacegen/support/cython.py
  tools/interfacegen/interfacegen/support/gitversion.py
  tools/interfacegen/interfacegen/support/includetree.py
Owners: @domcharrier

feat(recipes/**/llvmc): use support pkg + comgr
  tools/interfacegen/recipes/python_cython/llvmc/_include_graph.py
  tools/interfacegen/recipes/python_cython/llvmc/ci/2-generate-code.sh
  tools/interfacegen/recipes/python_cython/llvmc/ci/codegen.jf
  tools/interfacegen/recipes/python_cython/llvmc/codegen_amd_comgr.py
  tools/interfacegen/recipes/python_cython/llvmc/codegen_llvmc.py
  tools/interfacegen/recipes/python_cython/llvmc/generate_amd_comgr_pkg.sh
Owners: @domcharrier

remove PUBLISH option again
  tools/interfacegen/recipes/python_cython/llvmc/ci/codegen.jf
Owners: none

ci(codegen.jif): remove dev branch choice
  tools/interfacegen/recipes/python_cython/llvmc/ci/codegen.jf
Owners: none

feat(i*/cython): make char* pyretvals configurable
  tools/interfacegen/interfacegen/cython.py
Owners: @domcharrier

*_util/types: add n-dim. buffer type
  tools/interfacegen/recipes/python_cython/_util/types.pxd
  tools/interfacegen/recipes/python_cython/_util/types.pyx
Owners: @domcharrier

tune amd_comgr interfaces
  tools/interfacegen/recipes/python_cython/llvmc/codegen_amd_comgr.py
Owners: @domcharrier

fix(**llvmc): LLVMGetBuf*Start: retval -> NDBuffer
  tools/interfacegen/recipes/python_cython/llvmc/codegen_llvmc.py
Owners: @domcharrier

ci(**/codegen.jf): track origin/main
  tools/interfacegen/recipes/python_cython/hip/ci/codegen.jf
  tools/interfacegen/recipes/python_cython/llvmc/ci/codegen.jf
Owners: none

refactor(i*gen/cython*): format
  tools/interfacegen/interfacegen/tree.py
Owners: @domcharrier

fix(**/codegen_amd_comgr*): use correct index
  tools/interfacegen/recipes/python_cython/llvmc/codegen_amd_comgr.py
Owners: @domcharrier

refactor(**/hip_helpers*): self._owner -> ~._is_ptr_owner
  hip-python/hip/_hip_helpers.pxd
  hip-python/hip/_hip_helpers.pyx
Owners: @domcharrier

refactor(**/hip_helpers*): self._owner -> ~._is_ptr_owner
  hip-python/hip/_hip_helpers.pxd
  hip-python/hip/_hip_helpers.pyx
Owners: @domcharrier

feat(hiprtcLinkCreate): more user-friendly input adapters
  hip-python/hip/_hiprtc_helpers.pxd
  hip-python/hip/_hiprtc_helpers.pyx
  hip-python/setup.py
Owners: @domcharrier

feat(hiprtcLinkCreate): more user-friendly input adapters
  hip-python/hip/_hiprtc_helpers.pxd
  hip-python/hip/_hiprtc_helpers.pyx
  hip-python/setup.py
Owners: @domcharrier

fix(**/_hiprtc_helpers.pyx): typecheck entry
  hip-python/hip/_hiprtc_helpers.pyx
Owners: @domcharrier

fix(**/_hiprtc_helpers.pyx): typecheck entry
  hip-python/hip/_hiprtc_helpers.pyx
Owners: @domcharrier

feat(_hiprtc_util*):+helper for hiprtcLinkCreate
  hip-python/hip/_hiprtc_util.py
Owners: @domcharrier

feat(_hiprtc_util*):+helper for hiprtcLinkCreate
  hip-python/hip/_hiprtc_util.py
Owners: @domcharrier

fix(**/codegen_hip*): gitversion path fix, format
  tools/interfacegen/recipes/python_cython/hip/codegen_hip_python.py
Owners: @domcharrier

feat(**/codegen*): hiprtc: import util types
  tools/interfacegen/recipes/python_cython/hip/codegen_hip_python.py
Owners: @domcharrier

refactor_hiprtc_util -> hiprtc_pyutil
  hip-python/hip/_hiprtc_util.py
  hip-python/hip/hiprtc_pyutil.py
Owners: @domcharrier

refactor_hiprtc_util -> hiprtc_pyutil
  hip-python/hip/_hiprtc_util.py
  hip-python/hip/hiprtc_pyutil.py
Owners: @domcharrier

fix(**/hiprtc_pyutil): import ctypes
  hip-python/hip/hiprtc_pyutil.py
Owners: @domcharrier

fix(**/hiprtc_pyutil): import ctypes
  hip-python/hip/hiprtc_pyutil.py
Owners: @domcharrier

examples(*jit*llvm_ir*): use linker opts
  examples/2_Advanced/hiprtc_jit_with_llvm_ir.py
Owners: @domcharrier

feat(**/support/cython*): change semantics of arg
  tools/interfacegen/interfacegen/support/cython.py
Owners: @domcharrier

fix(**/codegen_hip*): hiprtc: import hiprtc_pyutil
  tools/interfacegen/recipes/python_cython/hip/codegen_hip_python.py
Owners: @domcharrier

feat(**/codegen_amd_comgr*): import TBA 'util' package
  tools/interfacegen/recipes/python_cython/llvmc/codegen_amd_comgr.py
Owners: @domcharrier

change codegen branch defaults
  tools/interfacegen/recipes/python_cython/hip/ci/codegen.jf
Owners: none

ci(build-and-publish.jf): create local version of $MAIN_BRANCH
  ci/build-and-publish.jf
Owners: none
